.game {
    display: block;
    transition: .3s;
    overflow: hidden;
    height: var(--element-height);
    margin: var(--element-spacing);
    background-color: var(--color-background-base);
    border-radius: var(--border-radius-medium);
}

.game-open {
    color: var(--color-text-link) !important;
    height: calc(100% - (var(--element-spacing) * 2));
    z-index: 2;
}

/* .game:focus {
    color: var(--color-text-link) !important;
    height: calc(100% - (var(--element-spacing) * 2));
    z-index: 2;
} */

.game-details {
    height: var(--element-height);
    cursor: pointer;
    display: flex;
    z-index: 100;
}

.game-icon-wrapper {
    margin: var(--element-spacing);
}

.game-icon {
    height: 32px;
    width: 32px;
}

.game-title {
    transition: 0s;
    margin: var(--element-spacing);
    line-height: var(--line-height-heading);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-base);
}

.game-achievement-list {
    height: calc(100% - var(--element-height));
    overflow-y: auto;
}