#steam-achievements-header-wrapper {
    height: var(--element-height);
}

#player-avatar {
    height: calc(var(--element-height) - (var(--element-spacing) * 2));
    width: calc(var(--element-height) - (var(--element-spacing) * 2));
}

#steam-achievements-header {
    background-color: var(--color-background-body);
    height: calc(100% - var(--element-spacing));
    width: calc(100% - var(--element-spacing));
}

#steam-achievements-header-title-wrapper {}

#steam-achievements-header-title {
    position: relative;
    top: var(--element-spacing);
    left: var(--element-spacing);
    font-family: var(--font-display);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-base);
}