:root {
    --twitch-color-brand-muted-ice: #d6e4ff;
    --twitch-color-brand-muted-cupcake: #ffa3ee;
    --twitch-color-brand-muted-mint: #5cffbe;
    --twitch-color-brand-muted-sky: #7aa7ff;
    --twitch-color-brand-muted-blush: #ffcdcc;
    --twitch-color-brand-muted-canary: #ebeb00;
    --twitch-color-brand-muted-smoke: #d3d3d9;
    --twitch-color-brand-muted-lavender: #d1b3ff;
    --twitch-color-brand-muted-mustard: #ffd37a;
    --twitch-color-brand-muted-emerald: #00f593;
    --twitch-color-brand-muted-coral: #ff8280;
    --twitch-color-brand-muted-ocean: #1345aa;
    --twitch-color-brand-accent-grape: #5c16c5;
    --twitch-color-brand-accent-dragonfruit: #ff38db;
    --twitch-color-brand-accent-carrot: #e69900;
    --twitch-color-brand-accent-sun: #ebeb00;
    --twitch-color-brand-accent-lime: #00f593;
    --twitch-color-brand-accent-turquoise: #00f0f0;
    --twitch-color-brand-accent-eggplant: #451093;
    --twitch-color-brand-accent-wine: #ae1392;
    --twitch-color-brand-accent-slime: #00f593;
    --twitch-color-brand-accent-seafoam: #5cffbe;
    --twitch-color-brand-accent-cherry: #eb0400;
    --twitch-color-brand-accent-marine: #1f69ff;
    --twitch-color-brand-accent-seaweed: #00a3a3;
    --twitch-color-brand-accent-pebble: #848494;
    --twitch-color-brand-accent-moon: #efeff1;
    --twitch-color-brand-accent-fiji: #5cffbe;
    --twitch-color-brand-accent-blueberry: #1f69ff;
    --twitch-color-brand-accent-arctic: #00f0f0;
    --twitch-color-brand-accent-highlighter: #f5f500;
    --twitch-color-brand-accent-flamingo: #ff38db;
    --twitch-color-brand-accent-ruby: #eb0400;
    --twitch-color-brand-accent-punch: #ffcdcc;
    --twitch-color-brand-accent-creamsicle: #ffd37a;
    --twitch-color-white: #fff;
    --twitch-color-black: #000;
    --twitch-color-red: #e91916;
    --twitch-color-red-darker: #bb1411;
    --twitch-color-orange: #ffd37a;
    --twitch-color-yellow: #ffd37a;
    --twitch-color-green: #00f593;
    --twitch-color-green-darker: #00ad96;
    --twitch-color-blue: #1f69ff;
    --twitch-color-prime-blue: #0e9bd8;
    --twitch-color-magenta: #c53dff;
    --twitch-color-error: #eb0400;
    --twitch-color-warn: #ffd37a;
    --twitch-color-success: #00f593;
    --twitch-color-info: #1f69ff;
    --twitch-color-accent: #9147ff;
    --twitch-color-twitch-purple: #9147ff;
    --twitch-color-twitch-purple-1: #040109;
    --twitch-color-twitch-purple-2: #0d031c;
    --twitch-color-twitch-purple-3: #15052e;
    --twitch-color-twitch-purple-4: #24094e;
    --twitch-color-twitch-purple-5: #330c6e;
    --twitch-color-twitch-purple-6: #451093;
    --twitch-color-twitch-purple-7: #5c16c5;
    --twitch-color-twitch-purple-8: #772ce8;
    --twitch-color-twitch-purple-9: #9147ff;
    --twitch-color-twitch-purple-10: #a970ff;
    --twitch-color-twitch-purple-11: #bf94ff;
    --twitch-color-twitch-purple-12: #d1b3ff;
    --twitch-color-twitch-purple-13: #e3d1ff;
    --twitch-color-twitch-purple-14: #ede0ff;
    --twitch-color-twitch-purple-15: #f3ebff;
    --twitch-color-hinted-grey-1: #0e0e10;
    --twitch-color-hinted-grey-2: #18181b;
    --twitch-color-hinted-grey-3: #1f1f23;
    --twitch-color-hinted-grey-4: #26262c;
    --twitch-color-hinted-grey-5: #323239;
    --twitch-color-hinted-grey-6: #3b3b44;
    --twitch-color-hinted-grey-7: #53535f;
    --twitch-color-hinted-grey-8: #848494;
    --twitch-color-hinted-grey-9: #adadb8;
    --twitch-color-hinted-grey-10: #c8c8d0;
    --twitch-color-hinted-grey-11: #d3d3d9;
    --twitch-color-hinted-grey-12: #dedee3;
    --twitch-color-hinted-grey-13: #e6e6ea;
    --twitch-color-hinted-grey-14: #efeff1;
    --twitch-color-hinted-grey-15: #f7f7f8;
    --twitch-color-transparent: transparent;
    --twitch-color-opac-b-1: rgba(0, 0, 0, .05);
    --twitch-color-opac-b-2: rgba(0, 0, 0, .08);
    --twitch-color-opac-b-3: rgba(0, 0, 0, .13);
    --twitch-color-opac-b-4: rgba(0, 0, 0, .16);
    --twitch-color-opac-b-5: rgba(0, 0, 0, .22);
    --twitch-color-opac-b-6: rgba(0, 0, 0, .28);
    --twitch-color-opac-b-7: rgba(0, 0, 0, .4);
    --twitch-color-opac-b-8: rgba(0, 0, 0, .5);
    --twitch-color-opac-b-9: rgba(0, 0, 0, .6);
    --twitch-color-opac-b-10: rgba(0, 0, 0, .7);
    --twitch-color-opac-b-11: rgba(0, 0, 0, .75);
    --twitch-color-opac-b-12: rgba(0, 0, 0, .8);
    --twitch-color-opac-b-13: rgba(0, 0, 0, .85);
    --twitch-color-opac-b-14: rgba(0, 0, 0, .9);
    --twitch-color-opac-b-15: rgba(0, 0, 0, .95);
    --twitch-color-opac-gd-1: rgba(83, 83, 95, .38);
    --twitch-color-opac-gd-2: rgba(83, 83, 95, .48);
    --twitch-color-opac-gd-3: rgba(83, 83, 95, .55);
    --twitch-color-opac-gd-4: rgba(50, 50, 57, .62);
    --twitch-color-opac-gd-5: rgba(50, 50, 57, .95);
    --twitch-color-opac-gl-1: hsla(240, 7%, 70%, .22);
    --twitch-color-opac-gl-2: hsla(240, 7%, 70%, .35);
    --twitch-color-opac-gl-3: hsla(240, 7%, 70%, .43);
    --twitch-color-opac-gl-4: hsla(240, 8%, 88%, .4);
    --twitch-color-opac-gl-5: hsla(240, 8%, 88%, .95);
    --twitch-color-opac-w-1: hsla(0, 0%, 100%, .05);
    --twitch-color-opac-w-2: hsla(0, 0%, 100%, .08);
    --twitch-color-opac-w-3: hsla(0, 0%, 100%, .13);
    --twitch-color-opac-w-4: hsla(0, 0%, 100%, .16);
    --twitch-color-opac-w-5: hsla(0, 0%, 100%, .22);
    --twitch-color-opac-w-6: hsla(0, 0%, 100%, .28);
    --twitch-color-opac-w-7: hsla(0, 0%, 100%, .4);
    --twitch-color-opac-w-8: hsla(0, 0%, 100%, .5);
    --twitch-color-opac-w-9: hsla(0, 0%, 100%, .6);
    --twitch-color-opac-w-10: hsla(0, 0%, 100%, .7);
    --twitch-color-opac-w-11: hsla(0, 0%, 100%, .75);
    --twitch-color-opac-w-12: hsla(0, 0%, 100%, .8);
    --twitch-color-opac-w-13: hsla(0, 0%, 100%, .85);
    --twitch-color-opac-w-14: hsla(0, 0%, 100%, .9);
    --twitch-color-opac-w-15: hsla(0, 0%, 100%, .95);
    --twitch-color-opac-p-1: rgba(92, 22, 197, .05);
    --twitch-color-opac-p-2: rgba(92, 22, 197, .1);
    --twitch-color-opac-p-3: rgba(92, 22, 197, .15);
    --twitch-color-opac-p-4: rgba(92, 22, 197, .2);
    --twitch-color-opac-p-5: rgba(92, 22, 197, .25);
    --twitch-color-opac-p-6: rgba(92, 22, 197, .3);
    --twitch-color-opac-p-7: rgba(92, 22, 197, .4);
    --twitch-color-opac-p-8: rgba(92, 22, 197, .5);
    --twitch-color-opac-p-9: rgba(92, 22, 197, .6);
    --twitch-color-opac-p-10: rgba(92, 22, 197, .7);
    --twitch-color-opac-p-11: rgba(92, 22, 197, .75);
    --twitch-color-opac-p-12: rgba(92, 22, 197, .8);
    --twitch-color-opac-p-13: rgba(92, 22, 197, .85);
    --twitch-color-opac-p-14: rgba(92, 22, 197, .9);
    --twitch-color-opac-p-15: rgba(92, 22, 197, .95);
    --twitch-color-orange-1: #050301;
    --twitch-color-orange-2: #090601;
    --twitch-color-orange-3: #120d02;
    --twitch-color-orange-4: #251a04;
    --twitch-color-orange-5: #372706;
    --twitch-color-orange-6: #453008;
    --twitch-color-orange-7: #65470b;
    --twitch-color-orange-8: #7c570e;
    --twitch-color-orange-9: #9e6900;
    --twitch-color-orange-10: #c28100;
    --twitch-color-orange-11: #e69900;
    --twitch-color-orange-12: #ffb31a;
    --twitch-color-orange-13: #ffd37a;
    --twitch-color-orange-14: #ffdf9e;
    --twitch-color-orange-15: #ffebc2;
    --twitch-color-yellow-1: #050501;
    --twitch-color-yellow-2: #090901;
    --twitch-color-yellow-3: #0e0e02;
    --twitch-color-yellow-4: #1c1c03;
    --twitch-color-yellow-5: #292905;
    --twitch-color-yellow-6: #373706;
    --twitch-color-yellow-7: #4e4e09;
    --twitch-color-yellow-8: #60600b;
    --twitch-color-yellow-9: #7a7a00;
    --twitch-color-yellow-10: #949400;
    --twitch-color-yellow-11: #adad00;
    --twitch-color-yellow-12: #c7c700;
    --twitch-color-yellow-13: #e0e000;
    --twitch-color-yellow-14: #ebeb00;
    --twitch-color-yellow-15: #f5f500;
    --twitch-color-green-1: #010503;
    --twitch-color-green-2: #010906;
    --twitch-color-green-3: #02120c;
    --twitch-color-green-4: #042015;
    --twitch-color-green-5: #063221;
    --twitch-color-green-6: #074029;
    --twitch-color-green-7: #0a5738;
    --twitch-color-green-8: #016b40;
    --twitch-color-green-9: #018852;
    --twitch-color-green-10: #00a865;
    --twitch-color-green-11: #00c274;
    --twitch-color-green-12: #00db84;
    --twitch-color-green-13: #00f593;
    --twitch-color-green-14: #5cffbe;
    --twitch-color-green-15: #a8ffdc;
    --twitch-color-cyan-1: #010505;
    --twitch-color-cyan-2: #010909;
    --twitch-color-cyan-3: #021212;
    --twitch-color-cyan-4: #042020;
    --twitch-color-cyan-5: #052e2e;
    --twitch-color-cyan-6: #073c3c;
    --twitch-color-cyan-7: #095353;
    --twitch-color-cyan-8: #0c6a6a;
    --twitch-color-cyan-9: #018383;
    --twitch-color-cyan-10: #00a3a3;
    --twitch-color-cyan-11: #00b8b8;
    --twitch-color-cyan-12: #00d6d6;
    --twitch-color-cyan-13: #00f0f0;
    --twitch-color-cyan-14: #2effff;
    --twitch-color-cyan-15: #94ffff;
    --twitch-color-blue-1: #010205;
    --twitch-color-blue-2: #020712;
    --twitch-color-blue-3: #040d20;
    --twitch-color-blue-4: #071a40;
    --twitch-color-blue-5: #0a255c;
    --twitch-color-blue-6: #0d3177;
    --twitch-color-blue-7: #1345aa;
    --twitch-color-blue-8: #1756d3;
    --twitch-color-blue-9: #1f69ff;
    --twitch-color-blue-10: #528bff;
    --twitch-color-blue-11: #7aa7ff;
    --twitch-color-blue-12: #a3c2ff;
    --twitch-color-blue-13: #c7daff;
    --twitch-color-blue-14: #d6e4ff;
    --twitch-color-blue-15: #e5eeff;
    --twitch-color-magenta-1: #050104;
    --twitch-color-magenta-2: #12020f;
    --twitch-color-magenta-3: #20041b;
    --twitch-color-magenta-4: #37062e;
    --twitch-color-magenta-5: #4e0941;
    --twitch-color-magenta-6: #650b55;
    --twitch-color-magenta-7: #8a0f73;
    --twitch-color-magenta-8: #ae1392;
    --twitch-color-magenta-9: #c516a5;
    --twitch-color-magenta-10: #ff38db;
    --twitch-color-magenta-11: #ff75e6;
    --twitch-color-magenta-12: #ffa3ee;
    --twitch-color-magenta-13: #ffc7f5;
    --twitch-color-magenta-14: #ffd6f8;
    --twitch-color-magenta-15: #ffe5fa;
    --twitch-color-red-1: #050101;
    --twitch-color-red-2: #120202;
    --twitch-color-red-3: #200404;
    --twitch-color-red-4: #3c0807;
    --twitch-color-red-5: #530a09;
    --twitch-color-red-6: #6e0e0c;
    --twitch-color-red-7: #971311;
    --twitch-color-red-8: #bb1411;
    --twitch-color-red-9: #eb0400;
    --twitch-color-red-10: #ff4f4d;
    --twitch-color-red-11: #ff8280;
    --twitch-color-red-12: #ffaaa8;
    --twitch-color-red-13: #ffcdcc;
    --twitch-color-red-14: #ffdcdb;
    --twitch-color-red-15: #ffe6e5;
    --twitch-color-twitter: #1da1f2;
    --twitch-color-facebook: #3b5998;
    --twitch-color-reddit: #ff4500;
    --twitch-color-snapchat: #fffc00;
    --twitch-color-instagram: #405de6;
    --twitch-color-youtube: #cd201f;
    --twitch-color-paypal: #009cde;
    --twitch-color-paypal-blue: #009cde;
    --twitch-color-paypal-yellow: #fcc439;
    --twitch-color-venmo: #008cff;
    --twitch-color-vk: #45668e;
    --twitch-color-amazon: #fad677;
}