:root {
    --break-xs: 480px;
    --break-sm: 768px;
    --break-md: 1024px;
    --break-lg: 1200px;
    --break-xl: 1440px;
    --break-xxl: 1600px;
    --button-size-small: 2.4rem;
    --button-size-default: 3rem;
    --button-size-large: 3.6rem;
    --button-text-small: 1.2rem;
    --button-text-default: 1.3rem;
    --button-text-large: 1.4rem;
    --button-padding-x: 1rem;
    --button-padding-y: 0.5rem;
    --input-text-small: 1.2rem;
    --input-text-default: 1.3rem;
    --input-text-large: 1.4rem;
    --input-size-small: 2.4rem;
    --input-size-default: 3rem;
    --input-size-large: 3.6rem;
    --line-height-body: 1.5;
    --line-height-heading: 1.2;
    --base-rem-unit: 10;
    --grid-columns: 12;
    --grid-gutter-width: 1.5rem;
    --grid-gutter-width-lg: 2rem;
    --grid-gutter-width-sm: 1rem;
    --grid-gutter-width-xs: 0.5rem;
    --opac-1: 0.05;
    --opac-2: 0.1;
    --opac-3: 0.15;
    --opac-4: 0.2;
    --opac-5: 0.25;
    --opac-6: 0.3;
    --opac-7: 0.4;
    --opac-8: 0.5;
    --opac-9: 0.6;
    --opac-10: 0.7;
    --opac-11: 0.75;
    --opac-12: 0.8;
    --opac-13: 0.85;
    --opac-14: 0.9;
    --opac-15: 0.95;
    --space-0: 0;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --space-7: 7rem;
    --space-8: 8rem;
    --space-9: 9rem;
    --space-10: 10rem;
    --space-auto: auto;
    --space-05: 0.5rem;
    --timing-short: 100ms;
    --timing-medium: 150ms;
    --timing-long: 200ms;
    --z-index-modal: 5000;
    --z-index-notification: 4000;
    --z-index-overlay: 3000;
    --z-index-balloon: 2000;
    --z-index-sticky: 1000;
    --z-index-above: 10;
    --z-index-default: 1;
    --z-index-below: -1;
}