/* #games {
  color: var(--twitch-color-transparent);
  transition: color 0.3s;
  height: calc(100% - var(--element-height));
  overflow-y: scroll;
  z-index: 5;
}

#games:hover {
  color: var(--twitch-color-opac-w-8);
}

#games::-webkit-scrollbar {
  width: 0.6rem;
  opacity: .7;
}

#games::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}

#games::-webkit-scrollbar-corner {
  background-color: transparent;
} */

/* #games {
  background-color: var(--twitch-color-transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: background-color .3s;
  margin-top: 2px;
}

#games:hover {
  background-color: var(--twitch-color-opac-w-8);
  -webkit-text-fill-color: transparent;
  color: transparent;
}

#games::-webkit-scrollbar {
  margin-top: 2px;
  width: 0.6rem;
  opacity: .7;
}

#games::-webkit-scrollbar-track {
  display: none;
}

#games::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
} */